:root {
    --main-color: #B9D3EE;
    --hd-color: #BBBBBB;
}

* {
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex-nr {
    display: flex;
}

.col5 {
    width: 5%;
}

.col10 {
    width: 10%;
}

.col12 {
    width: 12%;
}

.col15 {
    width: 15%;
}

.col20 {
    width: 20%;
}

.col23 {
    width: 22%;
}

.col25 {
    width: 25%;
}

.col33 {
    width: 33.33%;
}

.col40 {
    width: 40%;
}

.col48 {
    width: 48%;
}

.col65 {
    width: 65%;
}

body {
    background-image: url(../images/background.png);
}

input {
    cursor: pointer;
}

/* CSS NAV - MENU */

nav.menu {
    background-color: var(--main-color);
    position: relative;
}

nav.menu img {
    width: 100%;
}

div.logo {
    margin: auto 0;
}

ul.option {
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
}

ul.option > li {
    position: relative;
}

ul.option > li > a {
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #000000;
    display: block;
    min-width: 140px;
    padding: 15px 20px;
} 

ul.option > li:hover a {
    font-size: 1.05rem;
}

div.find {
    display: flex;
    justify-content: right;
    align-items: center;
}

#search-box {
    background: #fff;
    border-radius: 50px;
}

#search-box #search-text {
    border: none;
    outline: none;
    background: none;
    /* padding: 5px 10px; */
    padding: 0;
    font-size: 16px;
    width: 0;
    transition: all .25s ease-in-out;
}

#search-box:hover #search-text, #search-box #search-text:valid { /*valid có nhập vào không đóng text*/
    width: 200px;
    padding: 5px 0 5px 10px;
}

#search-btn {
    border: none;
    outline: none;
    background: #FFF;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 50%;
}

div.acc {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.acc > a > i {
    font-size: 2rem;
    color: #000;
}

ul.acc__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 4rem;
    right: 0.5rem;
    display : none;
}

ul.acc__list::before {
    content: "";
    height: 10px;
    position: absolute;
    left: 0;
    right: 0;
    background-color: transparent;
    transform: translateY(-100%);
}

.acc__list li:first-child:before {
    content: "";
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid var(--main-color);
    position: absolute;
    transform: translateY(-100%);
    top: 0;
    right: 1.3rem;
}

ul.acc__list li:hover {
    font-size: 17px;
}

div.acc:hover ul.acc__list {
    display: block;
}

ul.acc__list > li > a {
    color: #000;
    text-decoration: none;
}

ul.acc__list li {
    background-color: var(--main-color);
    width: 130px;
    padding: 5px 10px;
    text-align: center;
}

/* CSS SUB-MENU */

ul.sub {
    list-style-type: none;
    position: absolute;
    padding: 0;
    margin: 0;
    background-color: var(--main-color);
    width: 280px;
    display: none;
    box-shadow: 3px 3px 3px darkgray;
    z-index: 1;
}

ul.sub > li > a {
    text-decoration: none;
    display: block;
    padding: 15px 15px;
    color: #000000;
}

ul.sub > li:hover a {
    font-size: large;
}

li.sub-menu:hover ul.sub {
    display: block;
}

/* CSS HOVER AFTER MENU */

ul.option > li > a::after {
    content: "";
    height: 3px;
    width: 0;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    transition: all 0.5s ease-in-out;
}

ul.option > li > a:hover::after {
    width: 40%;
    transform: translateX(100%);
}

/* CSS HOME PAGE */
section.courses {
    width: 80%;
    margin: 20px auto;
}

section.courses > div > h3 {
    text-align: center;
    text-transform: uppercase;
    padding: 15px;
    margin: 4rem;
    background-color: var(--hd-color);
}

div.course {
    overflow: hidden;
}

div.hovercourse img {
    width: 100%;
    display: block;
    transition: all 0.3s ease-in-out;
}

div.hovereffect {
    margin: 11px;
}

div.hovereffect h4 {
    text-align: center;
    margin: 5px 0;
}

div.hovercourse {
    position: relative;
    padding: 20px 10px;
}

div.hovercourse:hover img {
    transform: scale(1.1);
}

div.hovercourse > div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 220px;
}
    
div.overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: all 0.4s ease-in-out;
}

div.overlay p {
    padding: 15px;
    color: #EEE;
    text-align: center;
}

a.info {
    color: #EEE;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: 5px 0;
}

a.info > input {
    width: 100px;
}

div.hovereffect:hover div.overlay {
    opacity: 1;
}

.consulting {
    width: 80%;
    margin: 0 auto;
}

.consulting h3 {
    text-align: center;
    margin: 1rem;
}

.list-consulting {
    list-style-type: none;
    background-color: #EEE9E9;
    padding: 2rem;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 5px 5px gray;
}

.list-consulting i {
    font-size: 2rem;
}

.icon-consulting {
    background-color: #0098C1;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    color: #fff;
}

.list-consulting > li > a {
    background-color: #BD3589;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
    border-radius: 20px;
    text-decoration: none;
}

/* CSS REVIEWS */

div.reviews {
    padding: 1.5rem 2rem;
    background-color: #DDDDDD;
    border-radius: 15px;
    margin: 5px;
}

div.reviews img {
    width: 60px;
    border-radius: 50%;
}

div.reviews ul {
    list-style-type: none;
    padding: 0;
    margin: 0 10px;
}

div.reviews i {
    color: 	#EEAD0E;
}

/* CSS EXERCISE */

div.exercise ul {
    list-style-type: square;
}

div.exercise {
    margin-left: 10%;
}

/* CSS STATISTICAL TABLES */

div.stati {
    width: 80%;
    margin: 0 auto;
    font-size: 1.5rem;
    padding: 2rem;
    margin-bottom: 10px;
    background-color: 	#EEE9E9;
    justify-content: space-between;
    border-radius: 15px;
    box-shadow: 0 5px 5px gray;
}

div.stati ul {
    list-style-type: none;
}

div.stati i {
    margin-top: 1.5rem;
}

h1.title {
    text-align: center;
    margin: 1.5rem;
}

/* CSS FOOTER */

footer {
    background-color: var(--main-color);
    padding: 5px;
}

div.my-footer {
    width: 90%;
    margin: 5px auto;
}

div.my-footer h1 {
    font-size: 1.5rem;
}

div.my-footer > div > ul {
    list-style-type: none;
    padding: 0;
    margin: 0 0 0 10px;
}

div.my-footer li {
    margin: 8px 0;
    font-size: 1rem;
}

div.my-footer a {
    text-decoration: none;
    color: #000000;
}

ul.social li {
    margin: 10px;
    font-size: 2rem;
}

ul.social li:nth-child(1) a:hover {
    color: blue;
    font-size: 2.05rem;
}

ul.social li:nth-child(2) a:hover {
    color: red;
    font-size: 2.05rem;
}

ul.social li:nth-child(3) a {
    border-radius: 5px;
    padding: 0px 3px;
}

ul.social li:nth-child(3) a:hover {
    background-image: linear-gradient(to left bottom, #7C3BAF, #BD3589, #E04D5D, #F5CD00);
    color: #e4e0e0;
    font-size: 2.05rem;
}

ul.social li:nth-child(4) a:hover {
    color:#1DA1F2;
    font-size: 2.05rem;
}

/* CSS BACK TOP */
#backtop {
    width: 50px;
    height: 50px;
    background-color: gray;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: fixed;
    right: 20px;
    bottom: 40px;
    cursor: pointer;
}

/* CSS AFMENU */

section.afmenu {
    width: 80%;
    margin: 0 auto;
}

section.afmenu > h1 {
    text-align: center;
    font-size: 40px;
    background-color: #BBB;
}

section.afmenu > p {
    margin-left: 4%;
    margin-top: 10px;
}

section.afmenu a {
    text-decoration: none;
    color: #000;
}

/* CSS PAGE CONTACT */

section.contact {
    width: 70%;
    margin: 20px auto 30px auto;
}

.contact_l {
    margin-right: 25%;
}

.contact_l p {
    width: 150%;
}

section.contact input[type=text],
section.contact input[type=email] {
    border: 1px solid #000;
    border-radius: 5px;
    width: 70%;
    height: 40px;
    padding: 5px;
}

section.contact textarea {
    border: 1px solid #000;
    border-radius: 5px;
    width: 100%;
    height: 200px;
}

input.send {
    padding: 10px 20px;
    border: 1px solid #000;
    border-radius: 15px;
}

input.send:hover {
    background-color: #ffffff;
    cursor: pointer;
}

label {
    font-size: 1.1rem;
    font-weight: bold;
    width: 100%;
}

div.contact_l > div {
    margin-top: 20px;
}

div.contact_l i {
    font-size: 50px;
    padding: 20px;
}

div.contact_l a {
    text-decoration: none;
    color: #000000;
}

div.contact_l a:hover {
    text-decoration: underline;
}

/* CSS PAGE DOCUMENT */

section.docs {
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
}

div.doc {
    margin: 5px;
}

div.doc img {
    width: 100%;
    height: 170px;
    border: 1px solid #000000;
}

div.doc > div {
    position: relative;
    transition: all 0.2s ease-in-out;
}

div.doc p {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 5px 5px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
}

div.doc > div > a {
    display: block;
    text-decoration: none;
}

div.doc > div > a > input {
    display: block;
    text-align: center;
    margin: 10px auto;
    border: 1.5px solid #000000;
    cursor: pointer;
    border-radius: 5px;
    background-color: #008681;
    color: #ffffff;
}

section.re-doc {
    width: 80%;
    margin: 0 auto;
}

section.re-doc h3 {
    text-transform: uppercase;
    text-align: center;
    margin: 1rem;
}

p.title {
    text-align: center;
}

div.form {
    margin-left: 30%;
}

section.re-doc input {
    width: 50%;
}

input.send-doc {
    width: 10% !important;
    margin-bottom: 10px;
}

div.doc > div:hover {
    transform: scale(1.05);
}

/* CSS FORUM */

section.forum {
    width: 80%;
    margin: 1rem auto;
}

div.posts {
    background-color: #e4e0e0;
    margin: 1rem 0;
    border-radius: 5px;
}

div.posts h4 {
    background-color: #CCC;
    border-radius: 5px 5px 0 0;
    margin: auto 0;
    padding: 0.5rem;
}

div.post {
    padding: 0.6rem 1.5rem;
    margin-bottom: 10px;
    border-bottom: 1px solid;
    border-color: #3d3d3d;
}

div.post h5, div.post ul, div.post p {
    margin: auto 0;
}

div.posts img {
    width: 3rem;
    border-radius: 50%;
    margin: 0 10px 0 0;
}

div.post-new {
    width: 120px;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.post-new > input {
    border: 0;
    background: transparent;
    padding: 3px;
}

div.post-new-form {
    margin-top: 1rem;
}

.post-new-form-lb {
    display: block;
    width: 50% !important;
}

.post-new-form-lb input {
    width: 100%;
    padding: 5px 10px;
}

#post-new-btn {
    cursor: pointer;
    padding: 5px 10px;
    border: none;
    background-color: lightgray;
}

/* CSS PAGE COURSE */

.container {
    justify-content: space-between;
}

div.item {
    padding: 10px;
    margin: 10px 5px;
    background-color: #EEE;
}

div.item img {
    width: 20%;
    height: 90%;
    transition: transform 0.2s ease-in-out;
}

div.item img:hover {
    transform: scale(1.08);
}

div.item ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div.item h5 {
    margin: 0 0 0 3px;
    padding: 5px;
    
}

div.item input {
    padding: 3px;
    margin: 1px 0 0 7rem;
}

div.item ul li {
    padding: 10px;
}

/* CSS SIGN UP - LOGIN */

div.wapper {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid black;
    border-radius: 10px;
    color: #fff;
    width: 25rem;
    height: 30rem;
    margin: 10% auto;
    position: relative;
}

div.wapper-lg {
    height: 23rem;
}

div.wapper-heading > h1 {
    text-align: center;
    padding: 10px;  
}

div.wapper > form > div {
    margin: 1rem;
}

div.wapper input {
    padding: 10px;
    width: 90%;
    border-radius: 10px;
    margin-left: 1rem;
}

div.wapper button {
    min-width: 80px;
    text-align: center;
    background-color: lightgray;
    margin: 0 10rem;
}

a.login-link {
    color: #fff;
    position: absolute;
    right: 12%;
}

a.login-link:hover {
    color: #1DA1F2;
}

/* CSS REGISTER COURSE */

.my-body {
    width: 80%;
    margin: 0 auto;
}

h1.register {
    text-align: center;
    background-color: var(--hd-color);
    padding: 10px;
    margin: 10px 0;
    font-size: 2.5vw;
}

div.re-course {
    width: 70%;
    margin: 0 auto;
}

div.re-course input {
    width: 100%;
    height: 40px;
}

div.re-course input[type=submit] {
    width: 25%;
    height: 40px;
    display: block;
    margin: 0 auto;
}

.select-cour {
    width: 100%;
    height: 40px;
}

#procedure {
    margin: 2rem;
    text-align: center;
}

.list-step {
    list-style-type: none;
    margin: 15px;
}

.list-step > li {
    text-align: center;
    padding: 0 2rem;
}

.number {
    padding: 3px 5px;
    border-radius: 50%;
    border: 1px solid #333;
    width: 30px;
    height: 30px;
    font-size: 14px;
    display: block;
    text-align: center;
    margin: 0px auto;
}

.step-name {
    color: #3d3d3d;
    font-size: 16px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    text-transform: uppercase;
}

.step-help {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 430px) {
    div.item img {
        display: none;
    }
    div.item ul {
        display: block;
    }

    div.item input {
        margin: 8px 12px;
    }
}

/* Mobile: width < 480px */

@media only screen and (max-width: 480px)  {

    section.courses {
        width: 100%;
    }

    nav.menu {
        justify-content: space-between;
    }

    div.acc {
        margin-right: 15px;
    }

    ul.option {
        width: 50%;
        flex-direction: column;
    } 
    

     ul.acc__list {
        top: 10rem;
        right: 0;
       }
    
       div.find {
        display: flex;
        justify-content: left;
        align-items: center;
        margin-top: 10px;
        margin-left: 20px;
       }
    
       div.find {
        display: none;
       }
    
       div.find_respon {
        width: 80%;
        margin: 0 auto;
    }
    
    #search_text_respon {
        width: 85%;
        padding: 2%;
        outline: none;
        border: none;
        border-radius: 15px;
    }
    
    #search_btn_respon {
        width: 13%;
        padding: 2%;
        outline: none;
        border: none;
        cursor: pointer;
        background: transparent;
    }
    
    div.course > div {
        justify-content: center;
    }

    section.courses > div > h3 {
        width: 100%;
        margin: 0.5rem 0 !important;
        font-size: 24px;
    }

    div.hovereffect {
        width: 90%;
    }

   div.hovercourse img {
    width: 65%;
   }

   div.exercise {
    margin-left: 0;
   }

   div.exercise > h5 {
    margin-left: 1rem;
   }

   div.reviews {
    margin: 10px 15px;
   }

   h1.title {
    font-size: 3vw;
   }

   div.stati {
    width: 100%;
    padding: 5px;
    align-items: center;
    justify-content: space-around;
   }

   div.stati ul {
    padding-left: 8px;
    font-size: 7vw;
   }

   .consulting {
    width: 97%;
   }

   div.my-footer {
    width: 100%;
    padding: 10px;
   }

   div.my-footer > div {
    width: 100%;
    margin-left: 1rem;
    margin-bottom: 1rem;
   }

   ul.social li {
    font-size: 1.7rem;
   }

   ul.social li:nth-child(1) a:hover {
    font-size: 1.8rem;
   }

    ul.social li:nth-child(2) a:hover {
        font-size: 1.8rem;
    }

    ul.social li:nth-child(3) a {
        border-radius: 5px;
        padding: 0px 3px;
    }

    ul.social li:nth-child(3) a:hover {
        font-size: 1.8rem;
    }

    ul.social li:nth-child(4) a:hover {
        font-size: 1.8rem;
    }

    .list-consulting > li {
        width: 100% !important;
        margin-bottom: 2rem !important;
    }

   div.course h3 {
    margin: 1.5rem !important;
   }

   ul.list-consulting > li {
    width: 30%;
    margin: 10px;
    margin: 0 auto;
   }

   div.find {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 10px;
    margin-left: 20px;
   }

   div.find {
    display: none;
   }

   section.container > div.item {
    width: 100%;
   }

   div.item > div {
    margin-left: 1.5rem;
   }

   div.item img {
    display: none;
   }

   section.docs > div.doc {
    width: 100%;
   }

   div.form {
    margin: 0 3rem;
   }

   div.form  input {
    width: 100%;
   }

   section.re-doc {
    width: 100%;
   }

   section.re-doc textarea {
    width: 100%;
    height: 150px;
   }

   input.send-doc {
    width: 30% !important;
   }

   section.forum {
    width: 97%;
   }

   div.posts {
    width: 100%;
   }

   div.post {
    display: block;
    padding: 10px;
   }

   div.post > h5 {
    width: 100%;
    padding: 5px;
    padding-left: 0;
   }

   div.post > div {
    width: 100%;
   }

   div.post > p {
    width: 100%;
   }

   div.post > ul {
    list-style-type: none;
    display: flex;
    width: 100%;
    padding: 5px;
    padding-left: 0;
   }

   div.post > ul > li {
    padding: 5px;
    margin-right: 10px;
    padding-left: 0;
   }

   section.contact {
    display: block;
    width: 100%;
    margin-left: 10px;
   }

   .contact_r input {
    width: 100%;
   }

   .contact_l h1 {
    font-size: 8vw;
   }

   #contactContentId {
    width: 90% !important;
   }

   .my-body {
    width: 100%;
   }

   div.re-course {
    width: 90%;
   }

   ul.list-step {
    display: block;
    padding: 0;
   }

   ul.list-step li {
    width: 100%;
   }

}

/* Mobile: width > 480 & width < 739px */

@media only screen and (min-width: 480px) and (max-width: 740px) {

    body {
        width: 100% !important;
    }

    nav.menu {
        justify-content: space-between;
    }

    div.acc {
        margin-right: 15px;
    }

    ul.option {
        width: 50%;
        flex-direction: column;
    } 

    section.courses {
        width: 100%;
    }
    
    div.course > div {
        justify-content: center;
    }

    section.courses > div > h3 {
        width: 100%;
        margin: 1rem 0 !important;
    }

    div.hovereffect {
        width: 90%;
    }

   div.hovercourse img {
    width: 40%;
   }

   div.exercise {
    margin-left: 0;
   }

   div.exercise > h5 {
    margin-left: 1rem;
   }

   div.reviews {
    margin: 10px 15px;
   }

   h1.title {
    font-size: 3vw;
   }

   div.stati {
    width: 97%;
    align-items: center;
    justify-content: space-around;
   }

   div.stati ul {
    padding: 0 1rem;
   }

   .consulting {
    width: 97%;
   }

   div.my-footer {
    width: 100%;
    padding: 10px;
   }

   div.my-footer > div {
    width: 100%;
    margin-left: 1rem;
    margin-bottom: 1rem;
   }

   ul.social li {
    font-size: 1.7rem;
   }

   ul.social li:nth-child(1) a:hover {
    font-size: 1.8rem;
   }

    ul.social li:nth-child(2) a:hover {
        font-size: 1.8rem;
    }

    ul.social li:nth-child(3) a {
        border-radius: 5px;
        padding: 0px 3px;
    }

    ul.social li:nth-child(3) a:hover {
        font-size: 1.8rem;
    }

    ul.social li:nth-child(4) a:hover {
        font-size: 1.8rem;
    }

    .list-consulting > li {
        width: 100% !important;
        margin-bottom: 2rem !important;
    }

   div.course h3 {
    margin: 1.5rem !important;
   }

   ul.list-consulting > li {
    width: 30%;
    margin: 10px;
    margin: 0 auto;
   }

   ul.acc__list {
    top: 10rem;
    right: 0;
   }

   div.find {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 10px;
    margin-left: 20px;
   }

   div.find {
    display: none;
   }

   div.find_respon {
    width: 70%;
    margin: 0 auto;
}

#search_text_respon {
    width: 85%;
    padding: 2%;
    outline: none;
    border: none;
    border-radius: 15px;
}

#search_btn_respon {
    width: 13%;
    padding: 2%;
    outline: none;
    border: none;
    cursor: pointer;
    background: transparent;
}

   section.container > div.item {
    width: 100%;
   }

   div.item > div {
    margin-left: 1.5rem;
   }

   div.item img {
    display: none;
   }

   section.docs > div.doc {
    width: 70%;
    margin: 0 auto;
   }

   div.form {
    margin: 0 3rem;
   }

   div.form  input {
    width: 300px;
   }

   section.re-doc {
    width: 100%;
   }

   section.re-doc textarea {
    width: 350px;
    height: 200px;
   }

   input.send-doc {
    width: 20% !important;
   }

   div.form {
    margin: 0 3rem;
   }

   div.form  input {
    width: 100%;
   }

   section.re-doc {
    width: 100%;
   }

   section.re-doc textarea {
    width: 100%;
    height: 150px;
   }

   input.send-doc {
    width: 30% !important;
   }

   section.forum {
    width: 97%;
   }

   div.posts {
    width: 100%;
   }

   div.post {
    display: block;
    padding: 10px;
   }

   div.post > h5 {
    width: 100%;
    padding: 5px;
    padding-left: 0;
   }

   div.post > div {
    width: 100%;
   }

   div.post > p {
    width: 100%;
   }

   div.post > ul {
    list-style-type: none;
    display: flex;
    width: 100%;
    padding: 5px;
    padding-left: 0;
   }

   div.post > ul > li {
    padding: 5px;
    margin-right: 10px;
    padding-left: 0;
   }

   section.contact {
    display: block;
    width: 100%;
    margin-left: 10px;
   }

   .contact_r input {
    width: 100%;
   }

   .contact_l h1 {
    font-size: 8vw;
   }

   #contactContentId {
    width: 90% !important;
   }

   .my-body {
    width: 100%;
   }

   div.re-course {
    width: 90%;
   }

   ul.list-step {
    display: block;
    padding: 0;
   }

   ul.list-step li {
    width: 100%;
   }

}

/* Tablet mini: width >= 740px & < 900px */

@media only screen and (min-width: 740px) and (max-width: 900px) {
    
    body {
        width: 100% !important;
    }

    nav.menu {
        justify-content: space-between;
    }

    ul.option {
        width: 40%;
        flex-direction: column;
    }
    
    ul.option > li > a {
        padding-left: 2;
        padding-right: 2;
        min-width: 100px;
        
    }

    div.acc {
        margin-right: 10px;
    }

    div.find {
        display: none;
    }
   
    div.find_respon {
        width: 70%;
        margin: 0 auto;
    }

    #search_text_respon {
        width: 85%;
        padding: 2%;
        outline: none;
        border: none;
        border-radius: 15px;
    }

    #search_btn_respon {
        width: 13%;
        padding: 2%;
        outline: none;
        border: none;
        cursor: pointer;
        background: transparent;
    }

    ul.acc__list {
        right: -10px;
        top: 10rem;
    }

    ul.acc__list li {
        width: 120px;
    }

    section.courses {
        width: 100%;
    }
    
    div.course > div {
        justify-content: center;
    }
   
    div.hovereffect {
        width: 47%;
   }

   div.hovercourse img {
    width: 60%;
   }

   div.reviews {
    margin: 10px 15px;
   }

   h1.title {
    font-size: 3vw;
   }

   div.stati {
    width: 97%;
    align-items: center;
    justify-content: space-around;
   }

   div.stati ul {
    padding: 0 1rem;
   }

   .consulting {
    width: 97%;
   }

   div.my-footer {
    width: 100%;
    padding: 10px;
   }

   ul.social li {
    font-size: 1.2rem;
   }

   ul.social li:nth-child(1) a:hover {
    font-size: 1.3rem;
   }

    ul.social li:nth-child(2) a:hover {
        font-size: 1.3rem;
    }

    ul.social li:nth-child(3) a {
        border-radius: 5px;
        padding: 0px 2px;
    }

    ul.social li:nth-child(3) a:hover {
        font-size: 1.3rem;
    }

    ul.social li:nth-child(4) a:hover {
        font-size: 1.3rem;
    }

   div.course h3 {
    margin: 1.5rem !important;
   }

   ul.list-consulting > li {
    width: 30%;
    margin: 10px;
    margin: 0 auto;
   }

   div.find {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 10px;
    margin-left: 20px;
   }

   div.find {
    display: none;
   }

   section.container > div.item {
    width: 100%;
   }

   section.docs > div.doc {
    width: 48%;
   }

   section.re-doc {
    width: 100%;
   }

   section.re-doc textarea {
    width: 350px;
    height: 200px;
   }

   input.send-doc {
    width: 15% !important;
   }

   div.form {
    margin: 0 3rem;
   }

   div.form  input {
    width: 100%;
   }

   section.re-doc {
    width: 100%;
   }

   section.re-doc textarea {
    width: 100%;
    height: 150px;
   }

   input.send-doc {
    width: 20% !important;
   }

   section.forum {
    width: 97%;
   }

   div.posts {
    width: 100%;
   }

   div.post > div {
    width: 40%;
   }

   div.post h5 {
    width: 60%;
   }

   div.post > ul {
    width: 40%;
    display: flex;
    list-style-type: none;
   }

   div.post > ul > li {
    padding: 0 10px;
   }

   div.post > p {
    width: 50%;
   }

   section.contact {
    display: block;
    width: 100%;
    margin-left: 5%;
   }

   .contact_r input {
    width: 100%;
   }

   .contact_l h1 {
    font-size: 8vw;
   }

   #contactContentId {
    width: 90% !important;
   }

   #search-respon {
    display: block !important;
   }

   .my-body {
    width: 100% !important;
   }

   div.re-course {
    width: 90%;
   }

   ul.list-step {
    padding: 0;
   }

   ul.list-step li {
    width: 50%;
   }

}

/* Tablet: width >= 900px & < 1200px */ 
@media only screen and (min-width: 900px) and (max-width: 1200px) {
    body {
        width: 100% !important;
    }

    ul.option {
        width: 85%;
    } 
    
    ul.option > li > a {
        padding-left: 2;
        padding-right: 2;
        min-width: 100px;
    }

    div.find {
        display: none;
    }

    div.find_respon {
        width: 70%;
        margin: 0 auto;
    }

    #search_text_respon {
        width: 85%;
        padding: 2%;
        outline: none;
        border: none;
        border-radius: 15px;
    }

    #search_btn_respon {
        width: 13%;
        padding: 2%;
        outline: none;
        border: none;
        cursor: pointer;
        background: transparent;
    }
   
    ul.acc__list {
        right: -5px;
    }

    ul.acc__list li {
        width: 120px;
    }

    section.courses {
        width: 100%;
    }
   
    div.course > div {
        justify-content: center;
    }

    div.hovereffect {
        width: 30%;
   }

   div.hovercourse img {
    width: 70%;
   }

   div.reviews {
    margin: 10px 15px;
   }

   h1.title {
    font-size: 4vw;
   }

   div.stati {
    width: 97%;
    align-items: center;
    justify-content: space-around;
   }

   div.stati ul {
    padding: 0 1rem;
   }

   .consulting {
    width: 97%;
   }

   div.my-footer {
    width: 100%;
    padding: 10px;
   }

   ul.social li {
    font-size: 1.6rem;
   }

   ul.social li:nth-child(1) a:hover {
    font-size: 1.7rem;
   }

    ul.social li:nth-child(2) a:hover {
        font-size: 1.7rem;
    }

    ul.social li:nth-child(3) a {
        border-radius: 5px;
        padding: 0px 3px;
    }

    ul.social li:nth-child(3) a:hover {
        font-size: 1.3rem;
    }

    ul.social li:nth-child(4) a:hover {
        font-size: 1.7rem;
    }

   ul.list-consulting > li {
    width: 30%;
    margin: 10px;
    margin: 0 auto;
   }

   div.find {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 10px;
    margin-left: 20px;
   }

   div.find {
    display: none;
   }

   section.container > div.item {
    width: 90%;
    display: flex;
    justify-content: center;
   }

   section.docs > div.doc {
    width: 48%;
   }

   section.re-doc {
    width: 100%;
   }

   section.re-doc textarea {
    width: 400px;
    height: 250px;
   }

   input.send-doc {
    width: 15% !important;
   }

   div.form {
    margin-left: 25%;
   }

   div.form input {
    width: 60%;
   }

   section.contact {
    display: block;
   }

   .my-body {
    width: 80% !important;
   }

   div.re-course {
    width: 80%;
   }

   ul.list-step {
    padding: 0;
   }

   ul.list-step li {
    width: 50%;
   }
}

@media only screen and (min-width: 1200px) {
    .find_respon {
        display: none;
    }
}

/* CSS */

/* #toggle_menu {
    position: fixed;
    top: 100px;
    left: 0px;
    background-color: var(--main-color);
    width: 200px;
    height: 400px;
    z-index: 1;
    border-radius: 0 10px 10px 0;
    transition: all ease-in-out 0.5s;
}

.option.flex.respon {
    transition: linear 0.5s;
}

ul.sub.respon {
    width: 200px;
}

.toggle_menu_icon {
    position: absolute;
    top: 10px;
    right: -35px;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    transition: linear 0.2s;
}

.toggle_menu.hide {
    width: 0;
}

.toggle_menu_icon:hover .toggle_menu {
    left: 500px;
} */